html {
    height: 100%
}

body {
    position: relative;
    width: 50%;
    margin: 0px;
    padding: 0px
}

p {
    margin: 1em 0 1em 0;
    line-height: 1.5em
}

.container {
    position: absolute;
    overflow: hidden;
    height: 45em;
    width: 25em;
    font-family: "微软雅黑";
}

#button {
    position: absolute;
    overflow: hidden;
    top:62em;
    height: 10em;
    width: 20em;
    text-align: center;
}

.img {
    overflow: hidden;
    width: 100%;
}